@using MenuFacile.Mvc.Models.Manager.Product

@model ProductAddViewModel
@{
    ViewData["Title"] = "Adicionar Produto";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form method="post" class="row g-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col-md-4">
        <label>Restaurante</label>
        <select asp-for="IdRestaurant" asp-items="ViewBag.Restaurants" class="form-control">
            <option>-- Selecionar --</option>
        </select>
        <span asp-validation-for="IdRestaurant" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label>Categoria</label>
        <select asp-for="IdCategory" asp-items="ViewBag.Categories" class="form-control">
            <option>-- Selecionar --</option>
        </select>
        <span asp-validation-for="IdCategory" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label>Nome</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-10">
        <label>Descrição</label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Active">
            <label class="form-check-label" for="Active">
                Ativo
            </label>
        </div>
    </div>
    <div class="row pt-3">
        <div class="form-group col-12">
            <button type="submit" name="submitButton" value="save" class="btn btn-primary">Salvar</button>
            <button type="submit" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}