@using MenuFacile.Mvc.Models.Manager.Restaurant

@model IEnumerable<RestaurantListViewModel>

@{
    ViewData["Title"] = "Lista Usuários Restaurantes";
}
<h1>@ViewData["Title"]</h1>
<br />
<div class="row">
     <div class="form-group col-md-3">
        <label>Página não desenvolvida.</label>
    </div>
</div>